* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    background: #3E8989;
}

.nav_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px 15px;
}

.menu__link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.menu__link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 15px;
    display: block;
    padding-bottom: 3px;
}

.menu {
   display: flex;
   flex-wrap: wrap;
}

.header_content {
    background: url(../img/gotrip.jpg) no-repeat center / cover;
    min-height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 80px;
    font-weight: 600;
    color: #FFFFFF;
}

.header__slogan {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
}

.header__button {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 78px;
    background-color: #B4436C;
    border-radius: 30px;
}

.header__button:hover {
    background: #FFFFFF;
    color: #B4436C;
}

.about__title {
    margin: 100px 0 50px 0;
    font-weight: 600;
    font-size: 40px;
    color: #3E8989;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.about__img {
    min-height: 261px;
    max-width: 545px;
    width: 100%;
    object-fit: cover;
}

.about__text1, .about__text2 {
    max-width: 545px;
    width: 100%;
    font-size: 18px;
}

.about__text1 {
    min-height: 105px;
    margin-top: 9px;
    margin-bottom: 20px;

}

.about__text2 {
    min-height: 63px;
}


.catalog__title {
    color: #3E8989;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
}

.card__title {
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
}

.card:hover .card__title {
    color: #B4436C;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.card__img {
    width: 263px;
    height: 300px;
    object-fit: none;
    background-color: #EFEFEF;
}

.contacts__title {
    color: #3E8989;
    text-align: left;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contacts__wrapper {
    display: flex;
    flex-direction: column;

}

.contacts__text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    max-width: 555px;
    width: 100%;
}

.contacts__tel {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    max-width: 166px;
    width: 100%;
}

.contacts__email {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 104px;
    font-size: 20px;
    font-weight: 400;
    max-width: 168px;
    width: 100%;
}

footer {
    background-color: #3E8989;
    height: 150px;
    padding-top: 40px;
}

.footermenu {
    display: flex;
    flex-wrap: wrap;

}

.footermenu__link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-right: 30px;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    color: #FFFFFF;
}

.search__input {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    max-width: 216px;
    width: 100%;
    height: 35px;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px 0 0 20px;
    padding: 8px 20px;
    border: none;
    outline: none;
}

.search__submit {
    width: 74px;
    height: 35px;
    background-color: #295E5E;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
}

.search {
    display: flex;
}
